body{
    background: cover;
}

.heading{
    background-color: fuchsia;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
    font-size: 32px;
    color:honeydew;
    word-spacing: 3px;
    margin:0;
    width: 100%;
}

canvas{
    border:5px solid greenyellow;
    border-radius: 5px;
    margin-top: 60px;
}
#numberofobjects,#status{
    font-size: 18px;
}

button{
    font-size: 20px;
}

#footer{
    width: 100%;
    position: fixed;
    color: rgb(27, 239, 16);
    background-color: white;
    bottom: 0;
    line-height: 3;
}
